{% extends 'base.html' %}

{% load static %}

{% block content %}

<div style="margin: 5% !important; text-align: center;">
    <div style="margin-bottom: 50px;">
        <h3>DSC Duksung Commiters 란?</h3>
        <br>
        <p style="font-size: 18px;">
            'DSC Duksung'에서 주최하는 <span style="font-weight: bold;">1일 1커밋</span> 이벤트에 참여하며 <span style="font-weight: bold;" >git을 가꾸는 정원사</span>를 의미합니다.<br>
            <h5>Commiters == Git을 가꾸는 정원사</h5>
        </p>
    </div>
    
    <div style="margin-bottom: 50px;">
        <h4>여기서 1일 1커밋은 무엇인가요?</h4>
        <br>
        <p style="font-size: 18px;">
            1일 1커밋은 '하루에 한 번 git에 커밋하면서 개발을 습관화 하자!' 라는 취지로 개발자들 사이에서 돌고 있는 운동입니다.<br>
            하지만, 하루에 한 번 반드시 커밋을 하겠다는 압박감을 느껴<br>
            무분별한 commit에 회의감을 느끼는 개발자들이 많다고 합니다.<br>
            그래서 저희 DSC Duksung에서는 알고리즘을 주제로 하루에 한 문제를 풀고 commit 하는 방식을 택했습니다.<br>
            그럼 모두 git에 잔디를 심는 Commiters가 되어볼까요?🌱<br>
        </p>
    </div>

    <img src="{% static 'img/commiters.png' %}" style="width: 50%; height: 50%;">
</div>

{% endblock %}