{% extends 'base.html' %}

{% load static %}

{% block content %}

<div style="margin: 5% !important; text-align: center;">
    <div style="margin-bottom: 70px;">
        <h2>DSC Duksung Committers 란?</h2>
        <br>
        <p style="font-size: 18px;">
            'DSC Duksung'에서 주최하는 <span style="font-weight: bold;">1일 1커밋</span> 이벤트에 참여하며 <span style="font-weight: bold;" >git을 가꾸는 정원사</span>를 의미합니다.<br>
            <h5>Committers == Git을 가꾸는 정원사</h5>
        </p>
        <br>
        <h4>여기서 1일 1커밋은 무엇인가요?</h4>
        <br>
        <p style="font-size: 18px;">
            1일 1커밋은 '하루에 한 번 git에 커밋하면서 개발을 습관화 하자!' 라는 취지로 개발자들 사이에서 돌고 있는 운동입니다.<br>
            하지만, 하루에 한 번 반드시 커밋을 하겠다는 압박감을 느껴<br>
            무분별한 commit을 하는 행위는 지양해주세요!<br>
            그럼 모두 git에 잔디를 심는 Committers가 되어볼까요?🌱<br>
        </p>
    </div>

    <div style="margin-bottom: 50px;">
        <h2 >DSC Duksung Committers 2회 참여방식</h2>
        <br>
        <p style="font-size: 18px;">
            🏃‍♀️ 진행 기간 : 3월 1일 ~ 3월 21일 (3주) 🏃‍♀️<br>
            <br>
            💰 참가비 : 1만원 (3333176222075 카카오뱅크 김서영) 💰<br>
            <br>
            ✍ 참가 신청 링크 : <a href="https://forms.gle/uY98pCSMBkaTZSmRA">https://forms.gle/RZKKoERTc8W5c1ef9</a> ✍<br>
            <br>
            💸 보증금은 참여율에 따라 환급될 예정 💸<br>
            80% 이상(=16일 이상) : 100% 반환<br>
            50% 이상(=10일 이상) : 50% 반환<br>
            50% 미만(=10일 미만) : 0% 반환<br>
            <br>
            ※ 반환되지 못한 보증금은 DSC Duksung 운영비에 사용될 예정<br>
        </p>
    </div>

    <div style="margin-bottom: 50px;">
        <h2 >🚨 주의 사항 🚨</h2>
        <br>
        <p style="font-size: 18px;">
            1️⃣ 로그인 후, 홈 화면 표 하단에 있는 등록버튼을 눌러야 시작됩니다!<br>
            2️⃣ 본인 레포에 commit만 반영됩니다.<br>
            다른 organization이나 다른 사용자의 레포에 커밋은 수집이 안되오니,<br>
            반드시 fork해서 본인 레포로 만들어주세요!<br>
            3️⃣ 레포가 private이라면 public으로 변경해주세요!<br>
        </p>
    </div>

    <img src="{% static 'img/committers.png' %}" style="width: 50%; height: 50%;">
</div>

{% endblock %}