{% extends 'base.html' %}

{% load static %}
{% load socialaccount %}
{% providers_media_js %}

{% block content %}

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://cdn.rawgit.com/kimmobrunfeldt/progressbar.js/0.9.0/dist/progressbar.js"></script>
<script src="{% static 'js/script.js' %}"></script>

<body>

{% for list in user %}
<div class="nickname" id="{{ list.user_id }}" pk="{{ list.userlogin }}">
    <p id="{{ list.userlogin }}"></p>
</div>
{% endfor %}

<div class="row">
    <div class="column main">
        <h2>DSC 덕성 커미터스 1회 참가자들</h2>
        <div class="users">
            {% for list in user %}
            <div class="user-profile">
                <img src="{{ list.profile }}" alt="avartar url" /> <br>
                <p>{{ list.userlogin }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="column side">
        <h2>진행률</h2>
        <div id="progress"></div>
        <div id="circle-progress"></div>
        <div id="attend_noshow_div"></div>
        <div id="container"></div>
    </div>
</div>

<div class="row">
    <div class="column chart">
        <h2>오늘의 출석부</h2>
        <table>
            <tr id="table-title">
                <td>User</td>
                {% for list in user %}
                    <td>{{ list.userlogin }}</td>
                {% endfor %}
            </tr>
            <tr id="attendees"></tr>
        </table>
    </div>
</div>
</body>

{% endblock %}