{% extends 'base.html' %}

{% load static %}
{% load socialaccount %}
{% providers_media_js %}

{% block content %}

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://cdn.rawgit.com/kimmobrunfeldt/progressbar.js/0.9.0/dist/progressbar.js"></script>

<body>

{% for list in users %}
<div class="nickname" id="{{ list.user_id }}" pk="{{ list.userlogin }}">
    <p id="{{ list.userlogin }}"></p>
</div>
{% endfor %}

{% for commit_user, commit_count in today_attendance.items %}
<div class="today_attendance">
    <p class="today_attendance_{{ commit_user }}"></p>
    <p class="today_attendance_{{ commit_count }}"></p>
</div>
{% endfor %}

<div class="row">
    <div class="column main">
        <h2>DSC 덕성 커미터스 1회 참가자들</h2>
        <div class="users">
            {% for list in users %}
                <div class="user-profile">
                    <img src="{{ list.profile }}" alt="avartar url" /> <br>
                    <p><a href="https://github.com/{{ list.userlogin }}" style="color: black;">{{ list.userlogin }}</a></p>
                </div>
            {% endfor %}
            </table>
        </div>
    </div>

    <div class="column side">
        <h2>진행률</h2>
        <div id="progress"></div>
        <div id="circle-progress"></div>
        <div id="attend_noshow_div"></div>
        <div id="container"></div>
    </div>
</div>

<div class="row">
    <div class="column chart">
        <h2>오늘의 출석부</h2>
        <table class="today_attendance_table">
            <tr id="table-title">
                <td>User & Date</td>
                <td>2/22</td>
                <td>2/23</td>
                <td>2/24</td>
                <td>2/25</td>
                <td>2/26</td>
                <td>2/27</td>
                <td>2/28</td>
                <td>3/1</td>
                <td>3/2</td>
                <td>3/3</td>
                <td>3/4</td>
                <td>3/5</td>
                <td>3/6</td>
                <td>3/7</td>
                <td>3/8</td>
                <td>3/9</td>
                <td>3/10</td>
                <td>3/11</td>
                <td>3/12</td>
                <td>3/13</td>
                <td>3/14</td>
            </tr>
            {% for commit_user, commit_count in until_now_attendance.items %}
            <tr id="{{ commit_user.userlogin }}">
                <td><a href="https://github.com/{{ commit_user.userlogin }}" style="color: black;">{{ commit_user.userlogin }}</a></td>
                {% for count in commit_count %}
		    {% if count >= 4 %}
		    <td class="commit_count_4">{{ count }}</td>
		    {% else %}
		    <td class="commit_count_{{ count }}">{{ count }}</td>
		    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
            <tr id="attendees"></tr>
        </table>
        <div style="text-align: right; font-size: 8px; margin: 0.5rem 1rem;">
            Less
            <div class="less_more less_more_0">0</div>
            <div class="less_more less_more_1">1</div>
            <div class="less_more less_more_2">2</div>
            <div class="less_more less_more_3">3</div>
            <div class="less_more less_more_4">4</div>
            More
        </div>
    </div>
</div>

{% if user.is_authenticated %}
<div class="row" id="attend_form">
    <form action="/attend" method="post">
        <button type="submit" value="참여하기"  class="btn btn-outline-danger">DSC 덕성 커미터스 1회 참여하기</button>
    </form>
</div>
{% endif %}

</body>

<script src="{% static 'js/script.js' %}"></script>

{% endblock %}
