* {
    box-sizing: border-box;
}

.navbar {
    background-color: #b70050 !important;
}

.navbar-brand {
    color: white !important;
}

.nav-link {
    color: white !important;
}

.btn-outline-success {
    border: 1px solid white! important;
}

.btn-outline-success:hover {
    background-color: white !important;
    color: #b70050 !important;
}

a {
    text-decoration: none !important;
}

.login-logout-btn {
    color: white !important;
}

.login-logout-btn:hover {
    color: #b70050 !important;
}

h2 {
  padding-bottom: 5px;
  background-color: rgba(0,0,0,.03);
}

.row {
    margin: 5rem !important;
    text-align: center !important;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    margin: 1rem !important;
    padding: 0px !important;
    border: 2px solid rgba(0,0,0,.1);
    border-radius: 5px;
}

.main {
    width: 55%;
}

.side {
  width: 35%;
}

.chart {
    overflow-x: auto;
    width: 100%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.users{
    display: inline-block;
}

.users p{
    text-align: center;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    font-size: 0.8rem;
}

.user-profile{
    float: left;
    width: 40%;
    border: 3px solid #b70050;
    border-radius: 3px;
    margin: 5px;
    overflow: hidden;
    word-wrap: break-word;
    text-align: center;
    padding: 5px;
}

.user-profile > img{
    max-width: 150px;
    width: 100%;
    height: auto;
}

#container {
    margin-bottom: 20px;
    padding: 10px;
    height: 8px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.main {
    width: 100%;
  }

  .row{
    margin-left: 10px;
  }

  #user-profile {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .user-profile {
    width: 48%;
  }

  .chart{
    width: 90%;
  }
}

@media screen and (max-width: 294px) {
  .user-profile {
    width: 98%;
  }

  .chart{
    width: 98%;
  }
}

/* table */
table {
    width: 100%;
    padding: 5px !important;
}

table, tr, td {
    text-align: center;
    border-collapse: collapse;
}

tr, td {
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 5px;
}

tr#table-title{
    background-color: #b70050;
    color: #ffffff;
}